{% include "header.html" %}
<h2> Upload a .jpg or .jpeg file </h2>
{% with messages = get_flashed_messages() %}
    {% if messages: %}
        {% for message in messages: %}
            <p class="flashes">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
    <input class="upload-btn" type="file" name="file">
    <input class="upload-btn" type="submit" value="Upload">
</form>

{% include "footer.html" %}